<h1>Accounts</h1>
<h2>Current accounts</h2>
<% if (accounts && accounts.length > 0) { %>
    <ul>
        <% accounts.forEach((account) => { %>
            <li>Account <%= account.id %>: <%= account.name %> (<%= account.balance %>)</li>
            <form method="POST" action="/accounts/<%= account.id %>/deposit">
                <input type="number" name="amount" />
                <input type="submit" value="deposit" />
            </form>
            <form method="POST" action="/accounts/<%= account.id %>/withdraw">
                <input type="number" name="amount" />
                <input type="submit" value="withdraw" />
            </form>
        <% }); %>
    </ul>
<% } %>
<h2>Create account</h2>
<form method="POST" action="/accounts">
    <input type="text" name="name" />
    <input type="submit" value="Create a new account!" />
</form>


